*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background: #584040;
    display: flex;
    align-items: center;
}

.contenedor{
    width: 920px;
    height: 280px;
    margin: 0 auto;

    position: relative;

    background: linear-gradient(#B7D6c7, #FFE2D1);
    overflow: hidden; 
}

.dino {
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(/img/dino.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;

}

.dino-corriendo {
    animation: animarDino 0.25s steps(2) infinite;
}
.dino-estrellado {
    background-position-x: -252px;
}
.suelo{
    width: 200%;
    height: 42px;

    position: absolute;
    bottom: 0;
    left: 0;

    background: url(/Img/suelo.png) repeat-x 0px 0px;
    background-size: 50% 42px;
}

.score{
    width: 300px;
    height: 30px;

    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;

    color: #d48872;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.game-over{
    display: none;

    position: absolute;
    width: 100%;


    text-align: center;
    color: #7e928b;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;
}

.cactus{
    width: 460px;
    height: 96px;


    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(/Img/cactus1.png) no-repeat;
}

@keyframes animarDino{
    from{
        background-position-x: -84px;
    }
    to{
        background-position-x: -252px;
    }
}